*{
    margin:0px;
    padding:0px;
}
.container{
  background-color: lightgrey;
  color:black;
  width: 80%;
  margin:auto;
  border:1px solid black;

}
.first{
    text-align:center;
    border:1px;
    padding:0px;
    margin:40px

}
.second{
    text-align: center;
    color:blueviolet;
}